body{
  font-family: 'Gidole';
}
@font-face {
    font-family: 'Gidole';
    src: url('fonts/Gidole-Regular.eot');
    src: url('fonts/Gidole-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gidole-Regular.woff2') format('woff2'),
        url('fonts/Gidole-Regular.woff') format('woff'),
        url('fonts/Gidole-Regular.ttf') format('truetype'),
        url('fonts/Gidole-Regular.svg#Gidole-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@-ms-viewport{
        width: extend-to-zoom;
        zoom:1.0;
}

.nav{
        float:right;
}

ul {
        list-style:none;
}

.nav li a{
text-decoration:none;
        padding:10px 15px;
        display:block;
}

.nav li a:hover{
        background-color:#434343;
}

.nav > li {
        float:left;
}

.nav li ul {
        display:none;
        position:absolute;

}

.nav  li:hover > ul {
        display:block;
}
.text-center .img-responsive{
  display: initial;
}
.text-center{
  padding-bottom: 3%;
}
.icon, .text-section{
  text-align: center;
  color: #637D96;
}

#solution{
    min-height:200px;
    border-radius:20px;
}
#training{
    min-height:200px;
    border-radius:20px;
}
#contact{
    min-height:200px;
    border-radius:20px;
}
.background-linux{
  padding-top: 2%;
}
#footer{
  background-color: #172042;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer a{
  color: #fff;
}
#footer .space{
  margin-right: 10px;
}
.area .icon{
  background: rgba(99, 125, 150,1);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.center-image{

  padding-top: 75px;
}

.area .icon .img-responsive{
  display: initial;
}
#content{
  margin-left: 10%;
  margin-right: 10%;

}
.background{
  background-image: url(images/background.png);
  background-position: center -120px;
  background-repeat: repeat-x;
}
/* CSS BOOTSTRAP */

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.navbar-default{
  background: none;
  border: none;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #637D96;
}
.navbar-default .navbar-nav > li > a{
  padding-top: 20px;
  font-size: 16px;
}
.navbar-brand{
  padding: 0;
}
/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar-default{
    border-bottom: none;
  }
  .navbar-default .navbar-collapse{
    border-top: 2px solid #637D96;
  }
}

/* List of the services we offer so far */

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}


.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
