body{
  font-family: 'Gidole';
}
@font-face {
    font-family: 'Gidole';
    src: url('fonts/Gidole-Regular.eot');
    src: url('fonts/Gidole-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gidole-Regular.woff2') format('woff2'),
        url('fonts/Gidole-Regular.woff') format('woff'),
        url('fonts/Gidole-Regular.ttf') format('truetype'),
        url('fonts/Gidole-Regular.svg#Gidole-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@-ms-viewport{
        width: extend-to-zoom;
        zoom:1.0;
}

.nav{
        float:right;
}

ul {
        list-style:none;
}

.nav li a{
text-decoration:none;
        padding:10px 15px;
        display:block;
}

.nav li a:hover{
        background-color:#434343;
}

.nav > li {
        float:left;
}

.nav li ul {
        display:none;
        position:absolute;

}

.nav  li:hover > ul {
        display:block;
}
.text-center .img-responsive{
  display: initial;
}
.text-center{
  padding-bottom: 3%;
}
.icon, .text-section{
  text-align: center;
  color: #637D96;
}

#solution{
    min-height:200px;
    border-radius:20px;
}
#training{
    min-height:200px;
    border-radius:20px;
}
#contact{
    min-height:200px;
    border-radius:20px;
}
.background-linux{
  padding-top: 2%;
}
#footer{
  background-color: #172042;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer a{
  color: #fff;
}
#footer .space{
  margin-right: 10px;
}
.area .icon{
  background: rgba(99, 125, 150,1);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.center-image{

  padding-top: 75px;
}

.area .icon .img-responsive{
  display: initial;
}
#content{
  margin-left: 10%;
  margin-right: 10%;

}
.background{
  background-image: url(images/background.png);
  background-position: center -120px;
  background-repeat: repeat-x;
}
/* CSS BOOTSTRAP */

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.navbar-default{
  background: none;
  border: none;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #637D96;
}
.navbar-default .navbar-nav > li > a{
  padding-top: 20px;
  font-size: 16px;
}
.navbar-brand{
  padding: 0;
}
/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar-default{
    border-bottom: none;
  }
  .navbar-default .navbar-collapse{
    border-top: 2px solid #637D96;
  }
}

/* List of the services we offer so far */

.list-type1{
width:400px;
margin:0 auto;
}

.list-type1 ol{
counter-reset: li;
list-style:none;
*list-style:decimal;
font-size: 15px;
font-family: 'Raleway', sans-serif;
padding:0;
margin-bottom:4em;
}
.list-type1 ol ol{
margin: 0 0 0 2em;
}
.list-type1 a{
position: relative;
display: block;
padding:.4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #637D96;
color: #000;
text-decoration:none;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: 10em;
transition: all .2s ease-in-out;
}

.list-type1 a:hover{
background: #d6d4d4;
text-decoration:none
transform: scale(1.1);
}

.list-type1 a:before {
content: counter(li);
counter-increment:li;
position:absolute;
left: -1.3em;
top:50%
margin-top:-1.3em;
background:#637D96;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight:bold;
-moz-border-radius: 2em;
-webkit-border-radius: 2em;
border-radius: 2em;
color: #FFF;
}

/* List the training courses we are offering */

.list-type5{
width:410px;
margin-left:50;
}
.list-type5 ol {
list-style-type: none;
list-style-type: decimal !ie; /*IE 7- hack*/
margin:0;
margin-left: 1em;
padding: 0;
counter-reset: li-counter;
}
.list-type5 ol li{
position: relative;
margin-bottom: 1.5em;
padding: 0.5em;
background-color: #D2D2D2;
padding-left: 58px;
}

.list-type5 a{
text-decoration:none;
color:black;
font-size:15px;
font-family: 'Raleway', sans-serif;
}

.list-type5 li:hover{
box-shadow:inset -1em 0 #637D96;
-webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.5s;
}

.list-type5 ol li:before {
position: absolute;
top: -0.3em;
left: -0.5em;
width: 1.8em;
height: 1.2em;
font-size: 2em;
line-height: 1.2;
font-weight: bold;
text-align: center;
color: white;
background-color: #637D96;
transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
z-index: 99;
overflow: hidden;
content: counter(li-counter);
counter-increment: li-counter;
}

